// -- BASE

// -- Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  line-height: $line-height-factor-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: $horizontal-rythm-spacing-text;
  padding-right: $horizontal-rythm-spacing-text;
  max-width: $page-max-width;
  position: relative;
}

.main {
  display: flex;
  flex-direction: column;
  padding-top: $vertical-rythm-spacing-component;
  min-height: calc(100vh - #{$header-height + $footer-height});

  @include on-large-screen {
    min-height: calc(100vh - #{$header-height-large + $footer-height});
  }
}
