@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600");
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  min-height: 100%;
  width: 100vw;
  max-width: 100%;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

body,
html {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 300;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1180px;
  box-sizing: border-box;
}

.is-hidden {
  display: none;
}

.is-visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
}

.is-visually-hidden.is-focusable:focus {
  position: static;
  clip: auto;
}
